<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Create account/sign in with LinkedIn</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
  </head>

  <body>

     <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Grasshopper</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">About us</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <p class="lead">
              <a href="/register" id="linkedin"> 
                <img src="../static/signin_with_linkedin-buttons/Retina/Sign-In-Small---Default.png"></a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p> A Hackbright Project by <a href="https://github.com/mbichoffe">@mbichoffe</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../static/js/create_account.js"></script>
  </body>
</html>