<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mentor Registration</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="../static/css/toolkit.css" rel="stylesheet">
    
    <link href="../static/css/application.css" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
  </head>

  <body>
    
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Grasshopper</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">About us</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </div>
          <!-- This should be replaced when user clicks continue -->
          <div id="registration-process"></div>
          <div class="inner cover">
            <h1 class="cover-heading" style="text-align: center;">Mentoring is easy.</h1>
            <p class="lead">
              <ol>
                <li>Tell us what you'd like to share </li>
                  <p>We will match you based on your preferences and experience.</p>
                <li>Sign up with LinkedIn</li>
                  <p>We will have access to basic information about your profile, like industry and job title</p>
                <li>Review potential matches</li>
                  <p>See our suggestions of motivated women looking for a mentor like you, and pick who you'd like to advise.</p>
                <li>Get in touch</li>
                  <p>Mentoring doesn't need to be a huge time commitment. The first step is to send your mentors an encouraging message. We will help you on every step of the way!</p>
              </ol>

            <a id="mentor-registration-1" class="btn btn-primary btn-lg" href='/areas_of_interest' role="button">Get started&raquo;</a>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p> A Hackbright Project by <a href="https://github.com/mbichoffe">@mbichoffe</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="../static/js/chart.js"></script>
    <script src="../static/js/toolkit.js"></script>
    <script src="../static/js/application.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars-intl@1.1.2/dist/handlebars-intl.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script src="../static/js/profile.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
  </body>
</html>