<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mentor Registration</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
  </head>

  <body>
    
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Grasshopper</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">About us</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </div>
          <!-- This should be replaced when user clicks continue -->
          <div id="registration-process"></div>
          <div class="inner cover">
            <h1 class="cover-heading">Mentoring is easy.</h1>
            <p class="lead">
              <ol>
                <li>Tell us what you'd like to share </li>
                  <p>We will match you based on your preferences and experience.</p>
                <li>Sign up with LinkedIn</li>
                  <p>We will have access to basic information about your profile, like industry and job title</p>
                <li>Review potential matches</li>
                  <p>See our suggestions of motivated women looking for a mentor like you, and pick who you'd like to advise.</p>
                <li>Get in touch</li>
                  <p>Mentoring doesn't need to be a huge time commitment. The first step is to send your mentors an encouraging message. We will help you on every step of the way!</p>
              </ol>

            <a id="mentor-registration-1" class="btn btn-primary btn-lg" href='/areas_of_interest' role="button">Get started&raquo;</a>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p> A Hackbright Project by <a href="https://github.com/mbichoffe">@mbichoffe</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src=""../bootstrap-4.0.0-alpha.6/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="http://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    
  </body>
</html>