

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
       
        Profile &middot; 
      
    </title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="../static/css/toolkit.css" rel="stylesheet">
    
    <link href="../static/css/application.css" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>

  </head>

<body class="with-top-navbar">
  
<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Messages</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>

      <div class="modal-body p-0 js-modalBody">
        <div class="modal-body-scroller">
          <div class="media-list media-list-users list-group js-msgGroup">
            <a href="#" class="list-group-item list-group-item-action">
              <div class="media">
                <img class="rounded-circle media-object d-flex align-self-start mr-3" src="../static/images/dog2.jpg">
                <div class="media-body">
                  <strong>Jacob Thornton</strong> and <strong>1 other</strong>
                  <div class="media-body-secondary">
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam &hellip;
                  </div>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="media">
                <img class="rounded-circle media-object d-flex align-self-start mr-3" src="../static/images/dogs-in-glasses-1.jpg">
                <div class="media-body">
                  <strong>Mark Otto</strong> and <strong>3 others</strong>
                  <div class="media-body-secondary">
                    Brunch sustainable placeat vegan bicycle rights yeah…
                  </div>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="media">
                <img class="rounded-circle media-object d-flex align-self-start mr-3" src={{user['picture_url']}}>
                <div class="media-body">
                  <strong>Dave Gamache</strong>
                  <div class="media-body-secondary">
                    Brunch sustainable placeat vegan bicycle rights yeah…
                  </div>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="media">
                <img class="rounded-circle media-object d-flex align-self-start mr-3" src="../static/images/dog2.jpg">
                <div class="media-body">
                  <strong>Jacob Thornton</strong> and <strong>1 other</strong>
                  <div class="media-body-secondary">
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam &hellip;
                  </div>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="media">
                <img class="rounded-circle media-object d-flex align-self-start mr-3" src="../static/images/dogs-in-glasses-1.jpg">
                <div class="media-body">
                  <strong>Mark Otto</strong> and <strong>3 others</strong>
                  <div class="media-body-secondary">
                    Brunch sustainable placeat vegan bicycle rights yeah…
                  </div>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="media">
                <img class="rounded-circle media-object d-flex align-self-start mr-3" src="../static/images/dog1.jpg">
                <div class="media-body">
                  <strong>Dave Gamache</strong>
                  <div class="media-body-secondary">
                    Brunch sustainable placeat vegan bicycle rights yeah…
                  </div>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="media">
                <img class="rounded-circle media-object d-flex align-self-start mr-3" src="../static/images/dog2.jpg">
                <div class="media-body">
                  <strong>Jacob Thornton</strong> and <strong>1 other</strong>
                  <div class="media-body-secondary">
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam &hellip;
                  </div>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="media">
                <img class="rounded-circle media-object d-flex align-self-start mr-3" src="../static/images/dog4">
                <div class="media-body">
                  <strong>Mark Otto</strong> and <strong>3 others</strong>
                  <div class="media-body-secondary">
                    Brunch sustainable placeat vegan bicycle rights yeah…
                  </div>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="media">
                <img class="rounded-circle media-object d-flex align-self-start mr-3" src="../static/images/dog1.jpg">
                <div class="media-body">
                  <strong>Dave Gamache</strong>
                  <div class="media-body-secondary">
                    Brunch sustainable placeat vegan bicycle rights yeah…
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="d-none m-3 js-conversation">
            <ul class="media-list media-list-conversation">
              <li class="media media-current-user mb-4">
                <div class="media-body">
                  <div class="media-body-text">
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
                  </div>
                  <div class="media-footer">
                    <small class="text-muted">
                      <a href="#">Dave Gamache</a> at 4:20PM
                    </small>
                  </div>
                </div>
                <img class="rounded-circle media-object d-flex align-self-start ml-3" src="../static/images/dog1.jpg">
              </li>

              <li class="media mb-4">
                <img class="rounded-circle media-object d-flex align-self-start mr-3" src="../static/images/dog2.jpg">
                <div class="media-body">
                  <div class="media-body-text">
                   Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                  </div>
                  <div class="media-body-text">
                   Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                  </div>
                  <div class="media-body-text">
                   Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.
                  </div>
                  <div class="media-footer">
                    <small class="text-muted">
                      <a href="#">Fat</a> at 4:28PM
                    </small>
                  </div>
                </div>
              </li>

              <li class="media mb-4">
                <img class="rounded-circle media-object d-flex align-self-start mr-3" src="../static/images/dogs-in-glasses-1.jpg">
                <div class="media-body">
                  <div class="media-body-text">
                   Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.
                  </div>
                  <div class="media-body-text">
                   Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  </div>
                  <div class="media-footer">
                    <small class="text-muted">
                      <a href="#">Mark Otto</a> at 4:20PM
                    </small>
                  </div>
                </div>
              </li>

              <li class="media media-current-user mb-4">
                <div class="media-body">
                  <div class="media-body-text">
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
                  </div>
                  <div class="media-footer">
                    <small class="text-muted">
                      <a href="#">Dave Gamache</a> at 4:20PM
                    </small>
                  </div>
                </div>
                <img class="rounded-circle media-object d-flex align-self-start ml-3" src="../static/images/dog1.jpg">
              </li>

              <li class="media mb-4">
                <img class="rounded-circle media-object d-flex align-self-start mr-3" src="../static/images/dog2.jpg">
                <div class="media-body">
                  <div class="media-body-text">
                   Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                  </div>
                  <div class="media-body-text">
                   Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                  </div>
                  <div class="media-body-text">
                   Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.
                  </div>
                  <div class="media-footer">
                    <small class="text-muted">
                      <a href="#">Fat</a> at 4:28PM
                    </small>
                  </div>
                </div>
              </li>

              <li class="media mb-4">
                <img class="rounded-circle media-object d-flex align-self-start mr-3" src="../static/images/dogs-in-glasses-1.jpg">
                <div class="media-body">
                  <div class="media-body-text">
                   Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.
                  </div>
                  <div class="media-body-text">
                   Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  </div>
                  <div class="media-footer">
                    <small class="text-muted">
                      <a href="#">Mark Otto</a> at 4:20PM
                    </small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="growl" id="app-growl"></div>

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary app-navbar">

  <a class="navbar-brand" href="../index.html">Grasshopper
  </a>

  <button
    class="navbar-toggler navbar-toggler-right d-md-none"
    type="button"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="../profile/index.html">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" href="#msgModal">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../docs/index.html">Connection Requests</a>
      </li>

      <li class="nav-item d-md-none">
        <a class="nav-link" href="../notifications/index.html">Notifications</a>
      </li>
      <li class="nav-item d-md-none">
        <a class="nav-link" data-action="growl">Do something awesome</a>
      </li>
      <li class="nav-item d-md-none">
        <a class="nav-link" href="../login/index.html">Logout</a>
      </li>

    </ul>

    <form class="form-inline float-right d-none d-md-flex">
      <input class="form-control" type="text" data-action="grow" placeholder="Search">
    </form>

    <ul id="#js-popoverContent" class="nav navbar-nav float-right mr-0 d-none d-md-flex">
      <li class="nav-item">
        <a class="app-notifications nav-link" href="/notifications">
          <span class="icon icon-bell"></span>
        </a>
      </li>
      <li class="nav-item ml-2">
        <button class="btn btn-default navbar-btn navbar-btn-avatar" data-toggle="popover">
          <img class="rounded-circle" src=
          {%if user['picture_url'] %}
          {{ user['picture_url'] }}>
          {% endif %}
        </button>
      </li>
    </ul>

    <ul class="nav navbar-nav d-none" id="js-popoverContent">
      <li class="nav-item"><a class="nav-link" href="#" data-action="growl">Growl</a></li>
      <li class="nav-item"><a class="nav-link" href="../login/index.html">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="profile-header" style="background-image: url(../static/images/iceland.jpg);">
  <div class="container">
    <div class="container-inner">
      <img class="rounded-circle media-object" src=
      {%if user['picture_url'] %}
      {{ user['picture_url'] }}>
      {% endif %}
      <h3 class="profile-header-user"> {{ user['first_name'] }} {{ user['last_name'] }}</h3>
      <h5 class="profile-header-bio">
        {%if user['is_mentor'] %}
        Mentor
        {% else %}
        Mentee
        {% endif %}
      </h5>  
      <p class="profile-header-bio icon icon-quote">
        Hackbright rules!
       </p>
    </div>
  </div>
  <nav class="profile-header-nav">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a id='user-matches' class="nav-link {% if current == 'bm' %}active{% endif %}" href="#" >
        {%if user['is_mentor'] %}
        Mentees - Best Matches
        {% else %}
        Mentors - Best Matches
        {% endif %}
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if current == 'fm' %}active{% endif %}" href="#">
        {%if user['is_mentor'] %}
        Find Mentees
        {% else %}
        Find Mentors
        {% endif %}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if current == 'pr' %}active{% endif %}" href="#">Pending Requests</a>
      </li>
    </ul>
  </nav>
</div>
<div class="container pt-4 pb-5">
  <div class="content-placeholder"></div>
  <p id="loading" style="display: none; text-align: center;">
    <img src="../static/images/Ripple.gif" alt="Loading…" />
  </p>
  {% raw %}
      <!--Data will be inserted in its according place, replacing the brackets.-->
  <script id="match-template" type="text/x-handlebars-template">
      {{#each this}}
      <div class="card card-profile mb-4" id='matches-profile'>
        <div class="card-header" style="background-image: url(../static/images/iceland.jpg);"></div>
        <div class="card-body text-center">
          <a href="profile/index.html">
            <img
              class="card-profile-img"
              src={{picture_url}}>
          </a>
          <h5 class="card-title">
            <a class="text-inherit" href="profile/index.html">{{ first_name }} {{ last_name }}</a>
          </h5>
          <ul class="list-unstyled list-spaced">
            <li><span class="text-muted icon icon-calendar mr-3">
            Active since {{ active_since }}
            </span>
            </li>
            <li><span class="text-muted icon icon-briefcase mr-3">
            </span>{{title}} at <a href="#">{{company}}</a>
            </li>
            <li><span class="text-muted icon icon-home mr-3"></span>From <a href="#">{{country}}</a>
            </li>            
          </ul>          
          <div class="card-body text-left">
            <span><h6 class="mb-3 icon icon-quote mr-3"> In {{ first_name }}'s words</h6></span>
            <p class="mb-4">{{ summary }}</p>
          </div>
          <div class="row">
            <div class="col-6">
            <ul class="card-menu" style="display: block;">
              <h6 class="py-0 text-left">{{name}} Looking for advice in:</h6>
              {{#areas_score}}
                <p class="mb-0 text-left">{{title}}</p>
                  <div class="progress my-3" style="width: 10em">
                    <div class="progress-bar" role="progressbar" aria-valuenow={{score}} aria-valuemin="1" aria-valuemax="5" {{#percent score}}{{/percent}}><span class="sr-only"></span>
                    </div>
                  </div>
              {{/areas_score}}
              </ul>
            </div>
            <!-- add user's score here -->
              <div class="col-6">
              <ul class="card-menu" style="display: block;">
              <h6 class="py-0 text-left">Your expertise:</h6>
              {{#areas_score}}
                <p class="lead text-left">{{title}}</p>
                  <div class="progress my-3" style="width: 10em">
                    <div class="progress-bar" role="progressbar" aria-valuenow={{score}} aria-valuemin="1" aria-valuemax="5" {{#percent score}}{{/percent}}><span class="sr-only"></span>
                    </div>
                  </div>
              {{/areas_score}}
              </ul>
            </div>  
          </div>
        </div>
      </div>
      <div class="card d-md-block d-lg-block mb-4">
        <div class="card-body">
          <h6 class="mb-3">More about <a href="#">{{ first_name }}</a></h6>
          <ul class="list-unstyled list-spaced">
            <li><span class="text-muted icon icon-briefcase mr-3">
            </span>Industry <a href="#">{{industry}}</a>
            </li>
              {{#with hobbies}}
            <li><span class="text-muted icon icon-location-pin mr-3"></span>Hobbies <a href="#">{{this}} </a>
              {{/with}}
            </li>
              {{#with pets}}
            <li><span class="text-muted icon icon-location-pin mr-3"></span>Pets <a href="#">{{this}}</a>
              {{/with}}
            </li>
              {{#with fun_facts}}
            <li><span class="text-muted icon icon-location-pin mr-3"></span>Fun Facts <a href="#">{{this}}</a>
              {{/with}}
            </li>
          </ul>
          <div class="nav btn-block">
                <div class="btn">
                <button class="btn btn-outline-primary btn-lg {{@index}}" data-userid="{{user_id}}" onclick="getConnectionId({{@index}})">
                    <span class="icon icon-add-user"></span>
                    Connect
                  </button>
                </div>
                  <div class="btn">  
                      <button id="message" class="btn btn-outline-primary btn-lg">
                        <span class="icon icon-chat"></span>
                        Message
                      </button>
                  </div>
                  <div class="btn">
                    <a class="nav-link" href="#">
                      <span class="icon icon-plus"></span>
                      More
                    </a>
                  </div>
          </div>
        </div>
      </div>
      {{/each}}
      {% endraw %}
      </script>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars-intl@1.1.2/dist/handlebars-intl.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script src="../static/js/chart.js"></script>
    <script src="../static/js/toolkit.js"></script>
    <script src="../static/js/application.js"></script>
<!--     <script type="text/javascript">
        function showResults(results){
          console.log(results);
        }
        function getConnectionId(id){
            console.log('here');
            console.log($('.'+id).attr('data-userid'));
            var user_id = {user_id: $('.'+id).attr('data-userid')};
            console.log(user_id)
            $.post('/request_connection',user_id, showResults)
        }
      </script> -->
    <script src="../static/js/profile.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
  </body>
</html>

