<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mentor Registration</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/cover.css" rel="stylesheet">
    <style>
    ol {
  color: #ccc;
  list-style-type: none;
}

ol li {
  position: relative;
  font: bold italic 45px/1.5 
  margin-bottom: 20px;
}

li p {
  font: 12px/1.5 
  padding-left: 60px;
  color: #555;
}

span {
  position: absolute;
}
</style>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Grasshopper</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">About us</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </div>
          <!-- This should be replaced when user clicks continue -->
          <div class="inner cover">
            <h1 class="cover-heading">Mentoring is easy.</h1>
            <p class="lead">
              <ol>
                <li><span>1.</span>
                <h4>Tell us what you'd like to share </h4>
                  <p>We will match you based on your preferences and experience.</p>
                <li>Sign up with LinkedIn</li>
                  <p>We will have access to basic information about your profile, like industry and job title</p>
                <li>Review potential matches</li>
                  <p>See our suggestions of motivated women looking for a mentor like you, and pick who you'd like to advise.</p>
                <li>Get in touch</li>
                  <p>Mentoring doesn't need to be a huge time commitment. The first step is to send your mentors an encouraging message. We will help you on every step of the way!</p>
              </ol>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Get started&raquo;</a></p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p> A Hackbright Project by <a href="https://github.com/mbichoffe">@mbichoffe</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src=""../bootstrap-4.0.0-alpha.6/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="static/bootstrap.min.css"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/mentor_register.js"></script>
    
  </body>
</html>